@import "tailwindcss";
#root{
  overflow-x: hidden;
  width:100%;

}
html,body{
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.Monsieur {
  font-family: "Monsieur La Doulaise", cursive;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

